- set title = 'Posts'
- extends 'admin/layout.haml'

- block body
  %table.table.table-striped
    %thead
      %th Date
      %th Status
      %th Title
    %tbody
      - for post in posts
        - set postUrl = path('admin_post', {'id': post.getId()})
        %tr
          %td.date= post.created_at|date('Y-m-d')
          %td.status
            %span.label{:class => (post.status == 'published' ? 'label-success' : false)}= post.status
          %td.title
            %a{:href => postUrl}= post.title