{% for post in posts %}
    <article>
        <h1>
            {% if page == false %}<a href="{{ post.getLink() }}">{% endif %}
                {{ post.title }}
            {% if page == false %}</a>{% endif %}
        </h1>
        {{ post.getBody()|raw }}
        <time>{{ post.created_at|date('d.m.Y') }}</time>
    </article>
{% endfor %}