{% for post in posts %}
    <article>
        <h2><a href="{{ post.getLink() }}">{{ post.title }}</a></h2>
        <p>{{ post.created|date('d.m.Y') }}</p>
        <div>
            {{ post.body|markdown }}
        </div>
    </article>
{% endfor %}