<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} - Powered by CodrPress{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/web/css/style.css">
    </head>
    <body data-basepath="{{ app.request.basepath }}">
        {% block body %}{% endblock %}
        <script type="application/javascript" src="{{ app.request.basepath }}/web/js/jquery-1.8.1.js"></script>
    </body>
</html>