{% extends 'layout.twig' %}
{% set post = posts.head() %}
{% block title %}{{ post.title }} {{  parent() }}{% endblock %}

{% block body %}
    <section class="articles">
        {% include 'articles.twig' with {'page': true} %}
    </section>

    {% if post.disqus %}
        <section class="comments">
            <h3>Comments</h3>
        </section>
    {% endif %}
{% endblock %}