- set post = posts.first()
- set title = post.title
- extends 'layout.haml'

- block body
  %section.articles
    - include 'articles.haml' with {'page': true}
  - if post.disqus
    %section.comments
      %h3 Comments