{% extends 'layout.twig' %}
{% block title %}View {{  parent() }}{% endblock %}

{% block body %}

    <h1>CodrPress</h1>

    <section class="articles">
        {% include 'articles.twig' %}
    </section>

    <section class="comments">
        <h3>Comments</h3>
    </section>

{% endblock %}