.radiant {
    background: #090a1b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    overflow: auto;
}

.radiant code {
    display: block;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    color: inherit;
}

.language-html {
    color: #3779ff;
}

.radiant .radiant_class {
    color: #ff3954;
}

.radiant .radiant_keyword, .pygments .k, .pygments .kd {
    color: #04ffa4;
}

.radiant .radiant_function {
    color: #ff3954;
}

.radiant .radiant_method, .pygments .nt, .pygments .nf, .pygments .nc {
    color: #6fd3ff;
}

.radiant .radiant_string, .pygments .s1, .pygments .s2, .pygments .s {
    color: #e5da59;
}

.radiant .radiant_variable, .pygments .nv, .pygments .nx {
    color: #3779ff;
}

.radiant .radiant_operator, .pygments .o {
    color: #ff3954;
}

.radiant .radiant_number, .radiant .radiant_constant, .pygments .m, .pygments .mi {
    color: #ad80e0;
}

.radiant .radiant_comment, .pygments .c1 {
    color: #747054;
}

.radiant .radiant_tag {
    color: #FF0000;
}

.radiant .radiant_default {
    color: #FFFFFF;
}